<div class="container marketing">

    <!-- Three columns of text below the carousel -->

<div>
  <h1>
    Why We're the Best
  </h1>
</div>
    <div class="row">

      <div  class="col-lg-3 col-md-6" >

        <img  class ="rounded-circle"  src="assets/images/bed.png" 

          width="140" height= "140">

        <h2>Accommodation</ h2>

        <p>We offer the finest selection of top notch hotels anywhere!</ p>

        <p><a class  ="btn btn-default" href="https://www.codefactory.wien/courses-programs/"   role="button">View details &raquo;</ a></p>

      </div>

      <!-- /.col-lg-4 -->

      <div class="col-lg-3 col-md-6" >

        <img class="rounded-circle-circle"  src ="assets/images/plane.png"  alt = "Generic placeholder image"

          width="140"  height= "140">

        <h2>Transportation</ h2>

        <p>Whether it's about air tickets or shuttle bus, we will set it up!</p >

        <p><a  class ="btn btn-default" href= "https://www.codefactory.wien/courses-programs/"   role="button" >View details &raquo; </ a></p>

      </div>

      <!-- /.col-lg-4 -->

      <div class="col-lg-3 col-md-6">

        <img class= "rounded-circle"  src="assets/images/people.png"

    alt="Generic placeholder image"  width= "140" height ="140">

        <h2>Seasoned Agents</ h2>

        <p>Combined, the experience our agents have is centuries!</p >

        <p><a class ="btn btn-default"  href="https://www.codefactory.wien/courses-programs/"   role="button">View details &raquo;</ a ></p>

      </div>

      <!-- /.col-lg-4 -->

      <div class="col-lg-3 col-md-6">

        <img class= "rounded-circle"  src="assets/images/star.png"

    alt="Generic placeholder image"  width= "140" height ="140">

        <h2>Easy Trip Planning</ h2>

        <p>Pur travel agents are always ready to plan your perfect trip!</p >

        <p><a class ="btn btn-default"  href="https://www.codefactory.wien/courses-programs/"   role="button">View details &raquo;</ a ></p>

      </div>

    </div>

    <!-- /.row -->

    </div>

    